@import "base.css";
body{
    width: 100%;
    padding-top: 0;
    background-image: var(--gradi-verde);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_contenido {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 104px;
    padding: 10px;
    border-radius: 10px;
    background: var(--fondo-tema);
    box-shadow: var(--sombra-suave);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}
.reversa{
    display: flex ;
    flex-direction: column-reverse;
}
.permisos_por_fecha{
    display: flex;
   /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.fecha_permisos{
    width: 100%;
}
.fecha_permisos h2{
    text-indent: 25px;
   background: var(--verde-sena);
   font-weight: bold;
    font-size: 20px;
    color:  white;
}
@media screen {
    
}