@import "base.css";

.permisos_por_fecha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    flex-direction: row-reverse;   
}
.fecha_permisos{
    width: 100%;
}
.fecha_permisos h2{
    text-indent: 25px;
   background: var(--verde-sena);
   font-weight: bold;
    font-size: 20px;
    color:  white;
}
.hoja input[type="time"]{
    outline: none;
}
#motivo {
    border: none;
    outline: none;
    background-color: #fcff95ad;
}
@media screen {
    
}
