@import "base.css";
body{
    width: 100%;
    padding-top: 0;
    background-image: var(--gradi-verde);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor_contenido {
   margin-top: 20px;
}
.permisos_por_fecha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.fecha_permisos{
    width: 100%;
}
.fecha_permisos h2{
    text-indent: 25px;
   background: var(--verde-sena);
   font-weight: bold;
    font-size: 20px;
    color:  white;
}
.hoja input[type="time"]{
    outline: none;
}
#motivo {
    border: none;
    outline: none;
    background-color: #fcff95ad;
}
@media screen {
    
}