:root {
    --verde-sena: #59a900;
    --morado-ssaci: #7209b7;
    --fondo-tema: rgb(255, 255, 255);
    --gradi-verde: linear-gradient(to top, #39a900, #4db520, #5fc234, #70ce45, #81db56, #90e269, #9fea7a, #aef18c, #bef4a3, #cef7b9, #defacf, #edfde5);
    --bg-transparente: rgba(255, 255, 255, 0.61);

    --sombra-cajas: -2px 3px 4px 0px rgba(0, 0, 0, 0.301);
    --sombra-suave: -2px 3px 4px 0px #dadada85;
    --sombra-suave-cajas: -2px 3px 4px 0px rgba(0, 0, 0, 0.301);
    --clr-gris:rgb(235, 235, 235);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-width: 200px;
    min-height: 100vh;
    background-image: var(--gradi-verde);
    display: flex;
    flex-wrap: wrap;
    
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #eceef2;
        border-radius: 180px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--verde-sena);
        border-radius: 180px;
    }
}

.input-form{
    width: 90%;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px 7px;
    background-color: white;
}
.box-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.my-button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: .5rem;
    transition: background-color 0.3s ease;
}
.my-select{
    width: 100%;
    border: none;
    background-color: var(--clr-gris);
    border-radius: 10px;
    padding: 9px 0px 9px 0px;
    text-indent: 20px;
}
.hoja input[type="text"], input[type="number"]{
    width: 100%;
    padding: 9px 0px 9px 0px;
    text-indent: 20px;
    border: none;
    background-color: var(--clr-gris);
    border-radius: 10px;
    outline: none;
}
.button-clr-rojo {
    background-color: rgb(241, 60, 60);
}
.button-clr-azul {
    background-color: blue;
}
.button-clr-verde{
    background-color: #39a900;
}
.button-clr-morado{
    background-color: var(--morado-ssaci);
}
a:hover{
    color: rgb(255, 255, 255);
}

h3 {
    font-weight: 700;
}
