@import "base.css";
.cont_generador{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.button-icon{
    border: none;
    background-color: var(--clr-gris);
    border-radius: 10px;
    cursor: pointer;
}
.hoja {
    padding: 10px;
    border-radius: 5px;
    
    background-color: white;
    box-shadow: var(--sombra-suave-cajas);
}
.hoja input[type="text"], input[type="number"], #motivo,.my-select{
    font-weight: 700;
    font-size: 14px;
}
.fecha-hora {
    background: var(--clr-gris);
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}
.hora {
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color:var(--clr-otro);
    outline: none;
    border: none;
}
.fecha {
    font-weight: bold;
    font-size: 20px;
    color: var(--morado-ssaci);
}
.div-ficha-ambiente{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.div-ficha-ambiente div input{
    width: 100px;
}

#motivo {
    width: 100%;
    padding: 9px 0px 9px 0px;
    text-indent: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
}
/* ------------------- */
@media (max-width: 729px) {
    .hora{
        font-size: 15px;
    }
    .fecha{
        font-size: 15px;
    }

}
.body-spiner{
    display: flex;
    justify-content: center;
    align-items:center ;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #ffffff00;
}
.modal-card{
 background-color: rgba(255, 255, 255, 0);   
}
