@import "base.css";
footer{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--clr-gris);
    padding: 10px;
    text-align: center;
    align-self: flex-end;
    bottom: 0;
}
.ssaci-cont{
    color: var(--verde-sena);
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
@media (max-width: 729px) {

footer .imgFooter{
    height: 37px;
}
}