@import "base.css";
.cont_generador{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.my-flex-center{
    gap: .5rem;
    display: flex;
    align-items: center;
}
.my-flex-center .button-icon{
    border: none;
    background-color: var(--clr-gris);
    border-radius: 10px;
    cursor: pointer;
}
.hoja {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(196, 196, 196);
    background-color: white;
}
.hoja input[type="text"], #motivo, #instructor{
    font-weight: 700;
    font-size: 15px;
}
.fecha-hora {
   display: flex;
   justify-content: space-between;
}
.hora {
    font-size: 20px;
    font-weight: bold;
}
.hoja .periodo {
    border:  2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    text-indent: 5px;
}
.fecha {
    font-weight: bold;
    font-size: 20px;
    color: var(--color-logo);
}
.div-ficha-ambiente{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.div-ficha-ambiente div input{
    width: 100px;
}

#motivo {
    width: 100%;
    padding: 9px 0px 9px 0px;
    text-indent: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    outline: none;
}
/* ------------------- */

